
@{
    ViewBag.Title = "Games";
}

<h2>Live Games</h2>

<input type="button" id="run" value="Run Games"/>
<input type="button" id="pause" value="Pause Games" />
<input type="button" id="reset" value="Reset" />

<div id="games">
    
</div>

@section Scripts {
    <script src="/signalr/hubs"></script>
    <script src="@Url.Content("~/Scripts/SignalR.GameWatcher.js")"></script>
}
